.sound-player-wrapper {
    position: relative;
    width: 100%;
    min-width: 320px;
}

.sound-player-wrapper * {
    box-sizing: border-box;
}

.sound-player-wrapper .snd-player {
    position: relative;
    height: 100%;
    z-index: 3;
}

.sound-player-wrapper .player-track {
    position: absolute;
    top: 0;
    right: 15px;
    left: 15px;
    padding: 13px 22px 10px 184px;
    background-color: #003f63;
    transition: 0.3s ease top;
    z-index: 1;
    text-align: left;
}

.sound-player-wrapper .player-track.active {
    top: -96px;
}

.sound-player-wrapper .album-name {
    color: #04a1fb;
    font-size: 17px;
    font-weight: bold;
}

.sound-player-wrapper .track-name {
    color: #acaebd;
    font-size: 13px;
    margin: 2px 0 13px 0;
}

.sound-player-wrapper .track-time {
    height: 12px;
    margin-bottom: 3px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}

.sound-player-wrapper .current-time,
.sound-player-wrapper .track-length {
    color: transparent;
    font-size: 11px;
    background-color: #ffe8ee;
    border-radius: 10px;
    transition: 0.3s ease all;
}

.sound-player-wrapper .track-time.active .current-time,
.sound-player-wrapper .track-time.active .track-length {
    color: #009dfb;
    background-color: transparent;
}

.sound-player-wrapper .s-area,
.sound-player-wrapper .seek-bar {
    position: relative;
    height: 4px;
    border-radius: 4px;
}

.sound-player-wrapper .s-area {
    background-color: #d7f0ff;
    cursor: pointer;
}

.sound-player-wrapper .ins-time {
    position: absolute;
    top: -29px;
    color: #fff;
    font-size: 12px;
    white-space: pre;
    padding: 5px 6px;
    border-radius: 4px;
    display: none;
    margin-left: -21px;
}

.sound-player-wrapper .s-hover {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    opacity: 0.2;
    z-index: 2;
}

.sound-player-wrapper .ins-time,
.sound-player-wrapper .s-hover {
    background-color: #3b3d50;
}

.sound-player-wrapper .seek-bar {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 0;
    background-color: #04a1fb;
    transition: 0.2s ease width;
    z-index: 1;
}

.sound-player-wrapper .snd-player-content {
    position: relative;
    background-color: #fff;
    box-shadow: 0 30px 80px #656565;
    z-index: 2;
    display: flex;
}

.sound-player-wrapper .album-art {
    position: absolute;
    top: -40px;
    width: 115px;
    height: 115px;
    margin-left: 40px;
    transform: rotateZ(0);
    transition: 0.3s ease all;
    box-shadow: 0 0 0 10px #fff;
    border-radius: 50%;
    overflow: hidden;
}

.sound-player-wrapper .album-art.active {
    top: -60px;
    box-shadow: 0 0 0 4px #fff7f7, 0 30px 50px -15px #afb7c1;
}

.sound-player-wrapper .album-art:before {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    width: 20px;
    height: 20px;
    margin: -10px auto 0 auto;
    background-color: #d6dee7;
    border-radius: 50%;
    box-shadow: inset 0 0 0 2px #fff;
    z-index: 2;
}

.sound-player-wrapper .album-art img {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: -1;
}

.sound-player-wrapper .album-art img.active {
    opacity: 1;
    z-index: 1;
}

.sound-player-wrapper .album-art.active img.active {
    z-index: 1;
    animation: rotateAlbumArt 3s linear 0s infinite forwards;
}

@keyframes rotateAlbumArt {
    0% {
        transform: rotateZ(0);
    }
    100% {
        transform: rotateZ(360deg);
    }
}

.sound-player-wrapper .buffer-box {
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    height: 13px;
    color: #1f1f1f;
    font-size: 13px;
    font-family: Helvetica;
    text-align: center;
    font-weight: bold;
    line-height: 1;
    padding: 6px;
    margin: -12px auto 0 auto;
    background-color: rgba(255, 255, 255, 0.19);
    opacity: 0;
    z-index: 2;
}

.sound-player-wrapper .album-art img,
.sound-player-wrapper .buffer-box {
    transition: 0.1s linear all;
}

.sound-player-wrapper .sound-player-wrapper .album-art.buffering img {
    opacity: 0.25;
}

.sound-player-wrapper .album-art.buffering img.active {
    opacity: 0.8;
    filter: blur(2px);
    -webkit-filter: blur(2px);
}

.sound-player-wrapper .album-art.buffering .buffer-box {
    opacity: 1;
}

.sound-player-wrapper .sound-player-controls {
    margin: 10px 5px 10px auto;
    overflow: hidden;
    display: flex;
}

.sound-player-wrapper .sound-player-controls .control {
    flex: 1 0 auto;
}

.sound-player-wrapper .snd-button {
    width: 80px;
    height: 80px;
    background-color: #fff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sound-player-wrapper .snd-button,
.sound-player-wrapper .snd-button svg {
    transition: 0.3s ease all;
}

.sound-player-wrapper .snd-button:hover {
    background-color: #00a2ff;
}

.sound-player-wrapper .snd-button:hover path {
    fill: #fff;
}

.sound-player-wrapper .album-blank {
    width: 100%;
    height: 100%;
    background: #fff;
}

@media only screen and (max-width: 500px) {
    .sound-player-wrapper .track-name {
        height: 20px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .sound-player-wrapper .snd-button {
        width: 50px;
        height: 50px;
    }
    .sound-player-wrapper .sound-player-controls {
        margin: 25px 5px 25px auto;
    }
}

.lds-facebook {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    margin-right: 50px;
}

.lds-facebook div {
    display: inline-block;
    position: absolute;
    left: 8px;
    width: 16px;
    background: #004066;
    animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}

.lds-facebook div:nth-child(1) {
    left: 8px;
    animation-delay: -0.24s;
}

.lds-facebook div:nth-child(2) {
    left: 32px;
    animation-delay: -0.12s;
}

.lds-facebook div:nth-child(3) {
    left: 56px;
    animation-delay: 0;
}

@keyframes lds-facebook {
    0% {
        top: 8px;
        height: 64px;
    }
    50%,
    100% {
        top: 24px;
        height: 32px;
    }
}